/* Palette of colors */
/* Maine page background color -  #FFF */
/* Secondary page background color - #F5F4FA */
/* Complementary page background color - #2F303A */
    /* Maine text color - #757575 */
    /* Secondary text color - #212121 */
    /* Complementary text color - #FFF */
    /* Accent text color - #2196F3 */
    /* Individual color of some text in footer - rgba(255, 255, 255, 0.6) */

/* Create custom CSS properties to set Background and Text colors */
:root {
    --maine-background-color: #FFF;
    --secondary-background-color: #F5F4FA;
    --complementary-background-color: #2F303A;
    --maine-text-color: #757575;
    --secondary-text-color: #212121;
    --complementary-text-color: #FFF;
    --accent-text-color: #2196F3;
    --individual-text-color: rgba(255, 255, 255, 0.6);
    --logo-dicor-color: #000;
}

/* Reset indentation settings in a tag group */
h1, h2, h3, h4, h5, h6, ul, p {
padding: 0; /* ??? */
margin: 0; /* ??? */
}

/* Utility class for resetting settings lists*/
.list {
    list-style: none;
}

/* Utility class for resetting settings links */
.link {
    text-decoration: none;
}

/* Utility class that hides the display of headings from the user, but remains they visible to search engines */
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

/* Common body parameters of all site pages */
body {
    background: var(--maine-background-color); /* + */
    color: var(--maine-text-color); /* + */
    font-family: 'Roboto', sans-serif; /* + */
    letter-spacing: 0.03em; /* + */
}

/* Website logo */
.logo {
    text-decoration: none; /* + */
    font-family: 'Raleway', sans-serif; /* + */
    font-size: 26px; /* + */
    line-height: 1.2; /* + */
    color: var(--accent-text-color);  /* + */
}
    .logo-second-half-head {
        color: var(--logo-dicor-color); /* + */
    }
    .logo-second-half-foot {
        color: var(--complementary-text-color); /* + */
    }

/* Site navigation */
.site-nav-link {
    text-decoration: none; /* + */
    font-weight: 500; /* + */
    font-size: 14px; /* + */
    line-height: 1.2; /* + */
    letter-spacing: 0.02em; /* + */
    color: var(--secondary-text-color); /* + */
}
    .site-nav-link:hover,
    .site-nav-link:focus {
        color: var(--accent-text-color); /* + */
    }

/* Utility class for simulating the display of the current position on site in the site menu */
.current-position {
    color: var(--accent-text-color);
}

/* Contact information */
.contacts-head {
    text-decoration: none; /* + */
    font-weight: 500; /* + */
    font-size: 14px; /* + */
    line-height: 1.14; /* + */
    letter-spacing: 0.02em; /* + */
    color: var(--maine-text-color); /* + */
}

.contacts-foot, .contacts-map {
    font-style: normal; /* + */
    text-decoration: none; /* + */
    font-size: 14px; /* + */
    line-height: 1.7; /* + */
    color: var(--individual-text-color); /* + */
}

.contacts-map {
    color: var(--complementary-text-color); /* + */
}

/* Contacts links state at hover & focus */
.contacts-head:hover,
.contacts-head:focus,
.contacts-foot:hover,
.contacts-foot:focus,
.contacts-map:hover,
.contacts-map:focus{
    color: var(--accent-text-color); /* + */
}

/* Підвал */
.footer {
    background-color: var(--complementary-background-color); /* + */
}

/* Шапка - "Hero" */
.hero {
    background-color: var(--complementary-background-color); /* + */
    text-align: center; /* Для центрирования заголовка и кнопки??? */
    
    padding-top: 200px; /* ??? */
    padding-bottom: 200px; /* ??? */
}
    .hero-title {
        font-weight: 900; /* + */
        font-size: 44px; /* + */
        line-height: 1.4; /* + */
        letter-spacing: 0.06em; /* + */
        text-transform: uppercase; /* + */
        color: var(--complementary-text-color); /* + */

        margin-bottom: 30px; /* Отступ от заголовка до кнопки??? */
}

    .herro-button {
        /* Button interactivity settings */
        cursor: pointer; /* + */
        /* Button geometry */
        display: inline-block; /* ??? */
        border: 1px solid transparent; /* ??? */
        background: var(--accent-text-color); /* + */        
        border-radius: 4px; /* + */
        border: none; /* + */
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15); /* + */
        padding: 10px 32px; /* ??? */
        min-width: 216px; /* ??? */ 
        min-height: 50px; /* ??? */
        
        /* Button text */
        font-family: inherit; /* + */
        font-weight: 700; /* + */
        font-size: 16px; /* + */
        line-height: 1.9; /* + */
        text-align: center; /* + */
        letter-spacing: 0.06em; /* + */
        color: var(--complementary-text-color); /* + */
    }
        /* Interactivity of changing the appearance of herro-button */
        .herro-button:hover,
        .herro-button:focus {
        background-color: #188CE8; /* + */
        border: none; /* + */
        }

/* General settings for "sections" of all pages of the site */

.section-highlighted {
    background-color: var(--secondary-background-color);
}

.section-title {
    text-align: center; /* + */
    font-weight: 700; /* + */
    font-size: 36px; /* + */
    line-height: 1.2; /* + */
    color: var(--secondary-text-color); /* + */

    margin-bottom: 50px; /* ??? */
}

/* Особливості - "Peculiarities", section on page index.html */
.peculiarities-list-title {
    font-weight: 700; /* + */
    font-size: 14px; /* + */
    line-height: 1.14; /* + */
    text-transform: uppercase; /* + */
    color: var(--secondary-text-color); /* + */

    margin-bottom: 10px; /* ??? */
}

.peculiarities-list-text {
    font-size: 14px;
    line-height: 1.7;
}

/* Наша команда, section on page index.html */
.team-item {
background: var(--complementary-text-color);
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;
}

.team-img {
    display: inline-block; /* ??? */
    margin-bottom: 30px; /* ??? */
}

.team-name {
    font-weight: 500; /* + */
    font-size: 16px; /* + */
    line-height: 1.2; /* + */
    color: var(--secondary-text-color); /* + */

    margin-bottom: 10px; /* ??? */
}

.team-position {
    font-size: 16px; /* + */
    line-height: 1.2; /* + */
}

/* Наші роботи, section in main on page portfolio.html*/
/* Settings of filter buttons */
.portfolio-button {
    /* Button interactivity settings */
    cursor: pointer; /* + */
    /* Button geometry */
    display: inline-block; /* ??? */
    border: 1px solid transparent; /* ??? */
    background: var(--secondary-background-color); /* + */
    border: none; /* + */
    border-radius: 4px; /* + */
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); /* + */
    padding: 6px 22px; /* ??? */
    /* Button text */
    color: var(--secondary-text-color); /* + */
    font-family: inherit; /* + */
    font-weight: 500; /* + */
    font-size: 16px; /* + */
    line-height: 1.6; /* + */
    text-align: center; /* + */
}
.first-portfolio-button {
    padding: 6px 25px; /* ??? */
}

    /* Interactivity of changing the appearance of portfolio-buttons */
        .portfolio-button:hover,
        .portfolio-button:focus {
        background-color: var(--accent-text-color); /* + */
        color: var(--complementary-text-color);
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12); /* + */
        border-radius: 4px; /* + */
        }

.portfolio-img {
    display: inline-block; /* ??? */
    margin-bottom: 20px; /* ??? */
}

.portfolio-title {
    font-weight: 700; /* + */
    font-size: 18px; /* + */
    line-height: 2; /* + */
    letter-spacing: 0.06em; /* + */
    color: var(--secondary-text-color); /* + */

    margin-bottom: 4px; /* ??? */
}

.portfolio-project {
    font-size: 16px; /* + */
    line-height: 1.9; /* + */
    color: var(--maine-text-color); /* + */
}

/* Geometri settings */
/* Settings of the ".container" auxiliary class,
intended for centering and limiting the content of site elements in width. */
.container {
    width: 1200px; /* ??? */
    padding-left: 15px; /* ??? */
    padding-right: 15px; /* ??? */
    margin-left: auto; /* ??? */
    margin-right: auto; /* ??? */

    outline: 2px dashed red;
}